<div class='wrapper'>
<nav>
 <ul>
   <li ><a href="">LOGO</a></li>
     <li><a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Студия</a></li>
       <li><a [routerLink]="'/clients'" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Клиенты</a></li>
         <li><a [routerLink]="'/shop'" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Магазин</a></li>
           <li><a [routerLink]="'/contacts'" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Контакты</a></li>
             <li><a [routerLink]="'/trash'" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Корзина</a></li>
 </ul>
</nav>


</div>
